.section-title {
  font-size: 35px;
  line-height: 49px;
  font-weight: 500;
  color: var(--black-color);
}

.section-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 2%;
  color: var(--paragraph-color);
}

.section-paragraph-small {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 2%;
  color: var(--paragraph-color);
  text-align: center;
}

.section-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}

.text-strong {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.01em;
}

.download-button {
  width: 200px;
  height: 64px;
  outline: none;
}
.download-button img {
  width: 100%;
  height: 100%;
}

.see-more-button {
  background-color: transparent;
  width: max-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  text-decoration-line: underline;
  color: var(--blue-color);
  align-self: center;
}
