:root {
  --desktop-screen-width: 1440px;
  --black-color: #000000;
  --header-background-color: #383d40;
  --white-color: #ffffff;
  --paragraph-color: #666666;
  --blue-color: #277cfb;
  --section-backgroud-color: #f2f8ff;
}
